This is the assembly
{{- with . }}
================================================
Session Id:                 {{ .SessionId }}
Type:                       {{ .AssemblyType }}
Connected to datasource :   {{ .Used }}
Capabilites:                
{{- with .Capabilites }}
{{- range . }}
{{ .CapabilityType }}
{{- end }}
{{- end }}
================================================
{{ end }}