This is the assembly
{{- with . }}
================================================
Session Id:                 {{ .SessionId }}
Type:                       {{ .AssemblyType }}
Connected to datasource :   {{ .Used }}
Capabilities:                
{{- with .Capabilities }}
{{- range . }}
{{- .CapabilityType }}
{{ end -}}
{{- end -}}
================================================
{{ end }}